 <% if obj.errors.any? %>
 <div class='container'>
     <div class='row sign-up-form'>
         <div class='col s12 m12 l12'>
             <div class='card-panel green accent-1' id='fade-out-target1'>
                 <span class='white-text'>
                     <strong><%= pluralize(obj.errors.count, "error") %></strong> prohibited the article from getting submitted
                     <ul>
                         <% obj.errors.full_messages.each do |msg| %>
                         <li><%= msg %></li>
                         <% end %>
                     </ul>
                 </span>
             </div>
         </div>
     </div>
 </div>
 <% end %>