<%# <!-- SECTION: PHOTO WITH TEXT AND BUTTON -->
<section id="main-photo" class="text-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 lead photo-info ">
                <h1 class=" font-weight-bold yellow-color">
                    Novaly Programming School
                </h1>
                <h3 class="font-weight-bold green-color py-2 text-light text-center caption">
                    A community of lifelong learners, responsible global citizens, and champions of our own success.
                </h3>
                <a href="#" class="btn yellow-background btn-lg">Contact</a>
            </div>
        </div>
    </div>
</section> %>
<div id="container" class="frame">
    <div class="herotext" id="first">
        <h2>Ice</h2>
        <p>Something something</p>
    </div>
    <div class="herotext" id="second">
        <h2>Cold</h2>
        <p>Something something</p>
    </div>
    <div class="herotext" id="third">
        <h2>Lemonade</h2>
        <p>Something something</p>
    </div>
</div>