    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Tech Club</h5>
                    <p class="grey-text text-lighten-4">Our mission is to produce world class developers.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Get in Touch</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://github.com/Elijahscriptdev"><i class="fab fa-github grey-text text-lighten-3"></i></a></li>
                        <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/elijah-obominuru-0b730b143/"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a class="grey-text text-lighten-3" href="https://twitter.com/ElijahObominuru"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2020 Copyright Tech Club
                <%# <a class="grey-text text-lighten-4 right" href="#!">About</a> %>
                <%= link_to  "About", about_path, class: "grey-text text-lighten-4 right" %>
            </div>
        </div>
    </footer>