    <header>
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider"></li>
            <li><a href="#!">three</a></li>
        </ul>

        <ul id="dropdown2" class="dropdown-content">
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider"></li>
            <li><a href="#!">three</a></li>
        </ul>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="sass.html">Courses</a></li>
            <li><a href="badges.html">Enrollments</a></li>
            <li><a href="sass.html">Contact Us</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Account<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>

        <nav>
            <div class="nav-wrapper container">
                <a href="#" class="brand-logo right">Tech Club</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="sass.html">Courses</a></li>
                    <li><a href="badges.html">Enrollments</a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Account<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
            </div>
        </nav>

        <% flash.each do |key, message|%>
        <div class='container'>
            <div class='row sign-up-form'>
                <div class='col s12 m12 l12'>
                    <div class='card-panel red lighten-2' id='fade-out-target'>
                        <span class='white-text'>
                            <%= message %>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
    </header>